<app-nav-bar></app-nav-bar>


<div class="col-md-6 offset-md-3">
    <h3> Add Product </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Product Name</label>
            <input type="text" class="form-control" id="productName" [(ngModel)]="product.productName"
                name="productName">
        </div>

        <div class="form-group">
            <label> Product Description</label>
            <input type="text" class="form-control" id="productDescription" [(ngModel)]="product.productDescription"
                name="productDescription">
        </div>

        <div class="form-group">
            <label> Product Quantity</label>
            <input type="text" class="form-control" id="productQuantity" [(ngModel)]="product.productQuantity"
                name="productQuantity">
        </div>

        <div class="form-group">
            <label> Product CostPrice</label>
            <input type="text" class="form-control" id="productCostPrice" [(ngModel)]="product.productCostPrice"
                name="productCostPrice">
        </div>

        <div class="form-group">
            <label> Product SellingPrice</label>
            <input type="text" class="form-control" id="productSellingPrice" [(ngModel)]="product.productSellingPrice"
                name="productSellingPrice">
        </div>
       
       

       
<div>
    <label> Category </label>
    <select class='select-option' [(ngModel)]="selected" (change)='onOptionsSelected($event)'>
        <option class='option' *ngFor='let category of categorys' [value]="category.categoryId">
            {{category.categoryName}} {{category.categoryId}}</option>
    </select>

</div>

 

        <button class="btn btn-success" type="submit">Submit</button>

    </form>

    <label> Category </label>
    <!-- <select name="categoryId" id="categoryId" (click)="categoryIdUpdated(category.categoryId)">
        <option *ngFor = "let category of categorys"  [ngValue] = "category.categoryId" >{{category.categoryName}} {{category.categoryId}}</option>
        
      </select> -->
    <!-- <select [(ngModel)]="category.categoryId" (change)="onChange($event)">
        <option *ngFor="let category of categorys">{{category.categoryName}} {{category.categoryId}}</option>
     </select> -->
    
</div>