<!-- <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-dark">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav text-light">
                <h4> <a routerLink="/dashboard/" class="nav-item nav-link active text-warning font-weight-bold">Digital
                        Ledger Account</a></h4>

            </div>
            <div class="navbar-nav ml-auto">
                <a routerLink="/productdetails/" class="nav-item nav-link text-light">Poduct Details</a>
                <a routerLink="/cart/" class="nav-item nav-link text-light">Cart</a>
                <a href="#" class="nav-item nav-link text-light">Contact Us</a>


                <a (click)="logout()" routerLink="/login/" class="nav-item nav-link text-light">Logout</a>
            </div>
        </div>
    </nav>
</div> -->


<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container ">
        <a (click)="dashboard()" class="navbar-brand text-info font-weight-bold">Digital Ledger Account</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="collapsenavbar">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a routerLink="" class="nav-link text-white">Home</a>
                </li> -->

                <li class="nav-item">
                    <a routerLink="/productdetails/" class="nav-link text-white">Products</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/cart/" class="nav-link text-white"> Cart </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/reminder/" class="nav-link text-white"> Reminders </a>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link text-white">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
