<!-- <div class="col-md-6 offset-md-3">
    <h3> Forget Password </h3>
    <form (ngSubmit) = "onSubmit()">
        
       

        <div class="form-group">
            <label> email</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "userInfo.email" name = "email">
        </div>

        

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
</div>  -->


<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container ">
        <a href="" class="navbar-brand text-info font-weight-bold">Digital Ledger Account</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="collapsenavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about/" class="nav-link text-white">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact/" class="nav-link text-white">Contact</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/registration/" class="nav-link text-white">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
<br>
<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will send you a password to your respective mail</li>
                   
                </ol>
            </div>
            <form (ngSubmit) = "onSubmit()" class="card mt-4">
                <div class="form-group">
                    <label> email</label>
                    <input type="text" class ="form-control" id = "email"
                        [(ngModel)] = "userInfo.email" name = "email">
                </div>
                <div class="card-footer"> <button class="btn btn-success" type="submit">Get Password</button> 
                    <hr>
                   <button (click)="gotologin()"  class="btn btn-danger" type="submit">Back to Login</button> </div>
            </form>
        </div>
    </div>
</div>


<app-footer></app-footer>