<!-- <p>login works!</p>
<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input [(ngModel)]="credentials.username" name="username" type="email" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input [(ngModel)]="credentials.password" type="password" name="password" class="form-control"
      id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  {{ credentials | json }}
</form> -->


<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="container ">
    <a href="" class="navbar-brand text-info font-weight-bold">Digital Ledger Account</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="collapsenavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="" class="nav-link text-white">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about/" class="nav-link text-white">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact/" class="nav-link text-white">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/registration/" class="nav-link text-white">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>

</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>

    <div class="col-lg-6 col-md-6 form-container">
      <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">

        <div class="heading mb-4">
          <h4 style="color: white;">Login into your account</h4>
        </div>

        <form (ngSubmit)="onSubmit()">
          <div class="form-input">
            <span><i class="far fa-envelope"></i></span>

            <input type="text" placeholder="User Name" id="username" [(ngModel)]="credentials.username" name="username"
              required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-lock"></i></span>

            <input type="password" placeholder="Password" id="password" [(ngModel)]="credentials.password"
              name="password" required>
          </div>

          <div class="row mb-3">
            <div class="col-12 d-flex">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cb1">
                <label class="custom-control-label text-white" for="cb1">I agree all terms &
                  conditions</label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>


        </form>
        <div class="text-center mb-2">
          <div class="mb-3" style="color: #777">or register with</div>

          <a href="" class="btn btn-social btn-facebook">fb</a>

          <a href="" class="btn btn-social btn-google">g</a>

          <a href="" class="btn btn-social btn-twitter">t</a>
        </div>
        <div style="color: rgb(6, 130, 231)" style="color: yellow;">Forget password 
          <a (click)="forgetpass()" class="register-link">Click here</a>
        </div>
      </div>
    </div>
   
  </div>
</div>


<app-footer></app-footer>