<!-- <section id="home">
    <h1 class="h-primary"> Welcome to Digital Ledger Account</h1>
  
    <button (click)="viewProducts()" class="btn"> View All Products</button>
</section>


<button (click)="addCategorys()" class="btn"> Add Category </button>
<button (click)="addProducts()" class="btn"> Add Products</button> -->



<div class="bgimg ">

<app-nav-bar></app-nav-bar>
    <div class="container text-center text-black headerset">
        <h2>Welcome To</h2>
        <h1>Digital Ledger Account</h1>
        <button (click)="viewProducts()" class="btn btn-info text-white btn-lg"> Product List </button>

    </div>
 
</div>

<section class="container ourservices1 text-center">
    <h1>Welcome</h1>
    <h3>{{shopname}}</h3>

    <div class="row rowsetting">
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
            <button (click)="addCategorys()" class="btn btn-info text-white btn-lg">Add New Category</button>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
            <button (click)="addProducts()" class="btn btn-info text-white btn-lg">Add New Products</button>
        </div>


    </div>
</section>

<div>
    <section class="container ourservices text-center">
        <h1>SERVICES</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

        <div class="row rowsetting">
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-info"><i class="fa fa-shopping-cart fa-3x text-white"></i>
                </div>
                <h2>Add Products</h2>
                <p>You can add new products or Update products to your database any time.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-info"><i class="fa fa-envelope fa-3x text-white"></i>
                </div>
                <h2>Sent Invoice via Mail</h2>
                <p>Get notified via email on every successful transaction.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-info"><i class="fa fa-lock fa-3x text-white"></i>
                </div>
                <h2>Security</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor.</p>
            </div>
        </div>
    </section>

</div>

<app-footer></app-footer>