<!--  
<div class="col-md-6 offset-md-3">
    <h3> Create User </h3>
    <form (ngSubmit) = "onSubmit()">
        
        <div class="form-group">
            <label> User Name</label>
            <input type="text" class ="form-control" id = "username"
                [(ngModel)] = "userinfo.username" name = "username">
        </div>
        
        <div class="form-group">
            <label> password</label>
            <input type="text" class ="form-control" id = "password"
                [(ngModel)] = "userinfo.password" name = "password">
        </div>

        <div class="form-group">
            <label> email</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "userinfo.email" name = "email">
        </div>

        <div class="form-group">
            <label> phoneNo</label>
            <input type="text" class ="form-control" id = "phoneNo"
                [(ngModel)] = "userinfo.phoneNo" name = "phoneNo">
        </div>

        <div class="form-group">
            <label> address</label>
            <input type="text" class ="form-control" id = "address"
                [(ngModel)] = "userinfo.address" name = "address">
        </div>
        
        <div class="form-group">
            <label> shopName</label>
            <input type="text" class ="form-control" id = "shopName"
                [(ngModel)] = "userinfo.shopName" name = "shopName">
        </div>

        <div class="form-group">
            <label> rol</label>
            <input type="text" class ="form-control" id = "rol"
                [(ngModel)] = "userinfo.rol" name = "rol">
        </div>
        

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
</div> 
 -->



 <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container ">
        <a href="" class="navbar-brand text-info font-weight-bold">Digital Ledger Account</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="collapsenavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about/" class="nav-link text-white">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact/" class="nav-link text-white">Contact</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/registration/" class="nav-link text-white">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>

 <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>

        <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                <div class="logo mb-3">
                    <!-- Image -->
                    <!-- <img src="#" width="150px"> -->
                </div>
                <div class="heading mb-4">
                    <h4>Create an account</h4>
                </div>
                <form (ngSubmit)="onSubmit()">

                    <div class="form-input">
                        <span><i class="fa fa-user"></i></span>
                        <input type="text" placeholder="User Name" id="username" [(ngModel)]="userinfo.username"
                            name="username" (blur)="name()" required>
                    </div>

                    <div class="form-input">
                        <span><i class="far fa-envelope"></i></span>
                        <input type="email" placeholder="Email Address" id="email" [(ngModel)]="userinfo.email"
                            name="email" (blur)="email()" required>
                    </div>

                    <div class="form-input">
                        <span><i class="fa fa-phone"></i></span>
                        <input type="text" placeholder="Phone Number" id="phoneNo" [(ngModel)]="userinfo.phoneNo"
                            name="phoneNo" (blur)="phone()" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fa fa-lock"></i></span>
                        <input type="password" placeholder="Password" id="password" [(ngModel)]="userinfo.password"
                            name="password" (blur)="password()" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fa fa-address-book"></i></span>
                        <input type="address" placeholder="Address" id="address" [(ngModel)]="userinfo.address"
                            name="address" (blur)="address()" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fas fa-store"></i></span>
                        <input type="text" placeholder="Shop Name" id="shopName" [(ngModel)]="userinfo.shopName"
                            name="shopName" >
                    </div>

                    <!-- <div class="form-input">
                        <span><i class="fas fa-store"></i></span>
                        <input type="text" placeholder="Role" id="rol" [(ngModel)]="userinfo.rol" name="rol">
                    </div> -->


                    <div class="row mb-3">
                        <div class="col-12 d-flex">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb1">
                                <label class="custom-control-label text-white" for="cb1">I agree all terms &
                                    conditions</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-left mb-3">
                        <button type="submit" class="btn">Register</button>
                    </div>
                    <div class="text-center mb-2">
                        <div class="mb-3" style="color: #777">or register with</div>

                        <a href="" class="btn btn-social btn-facebook">fb</a>

                        <a href="" class="btn btn-social btn-google">g</a>

                        <a href="" class="btn btn-social btn-twitter">t</a>
                    </div>
                    <div style="color: #777">Already have an account
                        <a routerLink="/login" class="login-link">Login here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>