<app-nav-bar></app-nav-bar>

<br><br><br>

<div class="container">
    <div class="row">
        <aside class="col-lg-5">
            <div class="card">

                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Update Category</h3>
                        <hr><br>
            
                    </div>
                    <div class="col-md-9 offset-md-1"> 
                        <h5> Update Category </h5>
                        <form (ngSubmit)="onSubmit()">
                            <br>
                            <div class="form-group">
                                <label> Category Name</label>
                                <input type="text" class="form-control" id="categoryName" [(ngModel)]="category.categoryName"
                                    name="categoryName">
                            </div>
                    
                    
                    
                            <button class="btn btn-success" type="submit">Submit</button>
                    
                        </form>
                    </div>
                    </section>

                <!-- <div class="col-md-9 offset-md-1">
                    <h5> Update Category </h5>
                    <hr><br>
                    <form (ngSubmit) = "onSubmit()">
                    
                        <div class="form-group">
                            <label> Category Name</label>
                            <input type="text" class ="form-control" id = "categoryName"
                                [(ngModel)] = "category.categoryName" name = "categoryName">
                        </div>
                    
                        
                        
                        <button class = "btn btn-success" type ="submit">Update</button>
                    
                    </form>
                </div>  -->
            </div>
        </aside>
        <aside class="col-lg-7">
            <div class="card">
                <app-categorylist></app-categorylist>
            </div>
        </aside>
    </div>
</div>

<br><br><br><br><br><br><br>
<br><br><br><br><br>
<app-footer></app-footer>













